#container{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: lighter;
    cursor: pointer;
}
button:hover{
    background-color: hsl(210, 100%, 60%);
}
button:active{
    background-color: hsl(210, 100%, 70%);
}
input{
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
    font-weight:bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
    
}
#headerPicture{
    margin-top: 20px;
    height: 130px;
    width: 130px;
    border-radius: 20px;
    border-style:outset;
    border-color:hsl(210, 70%, 60%);
    border-width: 7px;
    
}
img:hover{
    cursor: pointer;
    opacity: 70%;
}
